@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

/* h1 {
  margin-top: 48px;
} */

form {
  /* background: #fff; */
  max-width: 360px;
  width: 100%;
  padding: 58px 44px;
  /* border: 1px solid #e1e2f0; */
  border-radius: 4px;
  /* box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12); */
  transition: all 0.3s ease;
  margin-top: 20px;
  
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row label {
  font-size: 13px;
  color: white;
}

.row input {
    padding: 13px;
    font-size: 17px;
    left: 0%;
    right: 10.06%;
    top: 0%;
    bottom: 18.75%;
    background: #2A005F;
    border-radius: 15px;
    color: white;
    
font-family: 'Inika';
    
    
   
}

  



.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: white;
}

button {
    
  width: 100%;
  height: 65px;
  padding: 12px;
  font-size: 32px;
  background: #FBB500;
  color:  #761800 ;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 0px 8px 4px rgba(251, 181, 0, 0.32);
  
font-family: 'Galindo';
font-style: normal;
font-weight: bold;

line-height: 45px;
}
  
  
 







button:hover {
  background: #FBB500;
}

@media(max-width: 458px) {
  
  body {
    margin: 0 18px;
  }
  
  form {
    background: #f9faff;
    border: none;
    box-shadow: none;
    padding: 20px 0;
    text-align: center;
    
  }

}